/* START CSS RESET */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

/* END CSS RESET */

main {
    margin: 2rem auto;
    max-width: 40rem;
}

main > * + * {
    margin-top: 1rem;
}

.title, .tickets-banner {
    text-align: center;
}

.content > * + * {
    margin-top: 1rem;
}

blockquote {
    border-left: 1px solid black;
    padding-left: 1rem;
}

marquee > p {
    display: inline-block;
    margin-left: 2rem;
}

footer {
    text-align: center;
}

.tickets-banner {
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px); /* For compatibility with some browsers */
}