.hack {
  background-color: lightgray;
  color: rgba(0, 0, 0, 0.8);
  padding: 1em 2em;
  overflow: hidden;
}

.hack a {
  color: rgba(0, 0, 0, 0.8);
}

.hack_logo {
  float: left;
  width: 50%;
  vertical-align: center;
}

.hack_info {
  float: right;
  text-align: right;
}

.hack_info ul {
  list-style-type: none;
  margin: 0;
}

.hack_links li {
  display: inline;
  margin-left: 1em;
}
