.hack {
  background-color: lightgray;
  color: rgba(0, 0, 0, 0.8);
  padding: 1em 2em;
  overflow: hidden;
  max-width: 50em;
  margin: auto;
}

.hack_logo {
  width: 50%;
  height: 100px;
  float: left;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0;
}

.hack:first-of-type {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.hack:last-of-type {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.hack a {
  color: rgba(0, 0, 0, 0.8);
}

.hack_info {
  float: right;
  text-align: right;
}

.hack_info ul {
  list-style-type: none;
  margin: 0;
}

.hack_info li {
  margin-bottom: 0;
}

.hack_links li {
  display: inline;
  margin-left: 1em;
}
