.hack {
  background-color: lightgray;
  color: black;
  padding: 1em 2em;
  overflow: hidden;
}

.hack_logo {
  float: left;
  width: 60%;
}

.hack_info {
  float: right;
  text-align: right;
}

.hack_info ul {
  list-style-type: none;
  margin: 0;
}

.hack_links li {
  display: inline;
  margin-left: 1em;
}
