header {
  background: linear-gradient(270deg, hsl(343, 76%, 56%), hsl(343, 76%, 46%));
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  text-align: center;
}

header a {
  color: white;
  text-decoration: none;
  margin: 0 2em;
  display: inline-block;
  vertical-align: middle;
  padding: 10px;
}

header nav {
  display: inline-block;
}

.logo {
  display: inline-block;
  min-width: 6em;
  margin: 0 2em;
}
