header {
  background: #e43a6a;
  margin-bottom: 1.45rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  text-align: center;
}

header a {
  color: white;
  text-decoration: none;
  margin: 0 2em;
  display: inline-block;
  vertical-align: middle;
  padding:1em;
}

header nav {
  display: inline-block;
}

.logo {
  display: inline-block;
  width: 6em;
  margin: 0 2em;
}
