html {
  scroll-behavior: smooth;
}

.layout {
  color: white;
  min-height: 100vh;
}

.content {
  margin: 0 auto;
  max-width: 75em;
  padding: 1em;
  padding-top: 10em;
}

.text {
  max-width: 40em;
  margin: auto;
}

.background {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  background-blend-mode: multiply;
  background-color: rgb(0, 0, 0, 0.9);
}

.rounded {
  border-radius: 10px;
}

a {
  color: #e43a6a;
  text-decoration: none;
}

.anchor {
  display: block;
  position: relative;
  top: -10rem;
  visibility: hidden;
}

h2 {
  margin-top: 2em;
}

@media only screen and (max-width: 50em) {
  .content {
    padding-top: 8em;
  }
}
