.layout {
  color: white;
  /*  url("https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-9/45567709_302230940385782_7862715282106613760_o.jpg?_nc_cat=106&_nc_oc=AQn2VF85G-DGYuRUGeJQXMoizeLA2grR5Ho75XDbSXdWWpvvLO2hk7ZN-4HLRbRCXms&_nc_ht=scontent-lht6-1.xx&oh=069a7594ad43fef8648ae638c81cf58e&oe=5E026A4B"); */
  min-height: 100vh;
}

.content {
  margin: 0 auto;
  max-width: 75em;
  padding: 1em;
  padding-top: 9em;
}

.text {
  max-width: 40em;
  margin: auto;
}

.background {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  background-blend-mode: multiply;
  background-color: rgb(0, 0, 0, 0.9);
}

.rounded {
  border-radius: 10px;
}

a {
  color: #e43a6a;
  text-decoration: none;
}

h2 {
  margin-top: 2em;
}
