.layout {
  color: white;
  min-height: 100vh;
}

.content {
  margin: 0 auto;
  max-width: 75em;
  padding: 1em;
  padding-top: 10em;
}

.text {
  max-width: 40em;
  margin: auto;
}

.background {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  background-blend-mode: multiply;
  background-color: rgb(0, 0, 0, 0.9);
}

.rounded {
  border-radius: 10px;
}

a {
  color: #e43a6a;
  text-decoration: none;
}

h2 {
  margin-top: 2em;
}

.splash {
  text-align: center;
  height: 100vh;
}
.splash h3 {
  margin: 1em 0;
}
.splash img {
  margin: 0;
}
.splashlink {
  display: inline-block;
  width: 30%;
  padding: 3em 1em;
}

@media only screen and (max-width: 50em) {
  .content{
    padding-top: 8em;
  }
  .splashlink {
    width: 100%;
    padding: 2vh 0.5em;
  }
  .splashlink h3 {
    margin: 0;
  }
  .splashimg {
    margin-bottom: 2vh;
  }
}
