.galleryItem {
  background: #fafafa;
  color: #121212;
  overflow: hidden;
  text-align: left;
  cursor: pointer;
  border-radius: 3px;
}

.galleryItem > div > h1 {
  padding: 0.5em;
  margin-bottom: 0;
  padding-bottom: 0;
}

.galleryItemText {
  padding: 1em;
}

.galleryItem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.galleryItem:hover {
  /* -webkit-filter: blur(1px);
  filter: blur(1px); */
  transform: scale(1.02);
}
