.galleryItemSelected {
  background: #fff;
  color: #121212;
  position: fixed;
  width: 100%;
  max-width: 50em;
  height: 70vh;
  overflow: hidden;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999999;
  border-radius: 5px;
}

.galleryItemSelected .scrollable {
  height: calc( 70vh - 4em );
  padding: 1em;
  overflow: auto;
}

.galleryItemSelected h1 {
  width: 100%;
  padding: 0.5em;
  margin: 0;
  color: white;
  background: linear-gradient(270deg, hsl(343, 76%, 56%), hsl(343, 76%, 46%));
}

.galleryItemSelected .description {
  padding: 3em 3em 1.5em 3em;
}

.galleryItemSelected img {
  width: 100%;
  max-height: 95%;
  object-fit: contain;
  margin-bottom: 0;
}

.videoResponsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  margin-bottom: 0;
}
.videoResponsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.dimmer {
  background: #000;
  opacity: 0.5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  cursor: pointer;
}
